@page "/"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorBikeStore.Models
@using BlazorBikeStore.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorBikeStore.Data.BlazorBikeStoreContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>List of Bikes</h1>

<div class="row">
    <div class="col">
        <label for="txtSearch"> Search by Manufacturer</label>
        <input type="text" id="txtSearch" @bind="searchText" @bind:event="oninput" class="form-control" />
    </div>
</div>

<p>
    <a href="bikes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="FilteredBikes">
    <PropertyColumn Property="bike => bike.Manufacturer" />
    <PropertyColumn Property="bike => bike.Model" />
    <PropertyColumn Property="bike => bike.Year" />
    <PropertyColumn Property="bike => bike.Price" />
    <PropertyColumn Property="bike => bike.CreatedOn" />
    <PropertyColumn Property="bike => bike.Rating" />

    <TemplateColumn Context="bike">
        <a href="@($"bikes/edit?bikeid={bike.BikeId}")">Edit</a> |
        <a href="@($"bikes/details?bikeid={bike.BikeId}")">Details</a> |
        <a href="@($"bikes/delete?bikeid={bike.BikeId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorBikeStoreContext context = default!;

    private string searchText = string.Empty;

    private IQueryable<Bike> FilteredBikes => context.Bike.Where(b => b.Manufacturer!.Contains(searchText));

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
